body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eaecef;
}

.mainpage {
  
    display: flex;
    flex-direction: row;
  
}

  .downloader {
    flex: 0.75; 
    text-align: center;
    border: 2px dotted blue;
    padding-left: 20px;
    padding-right: 20px;
    width: auto ;
    margin-top: 65px;
    border-radius: 14px;
    margin-left: 40px;
    
  }
  


.sidenav {
  
  width : 240 px; 
  background: #011627;
  position : absolute ;
  height: 95vh;
  padding:  0 5px;
  left: -100%;
  transition: all 0.5s;
}
.sidenav.active{
  left: 0;
}
.p{
  margin-right: 0px;
  margin-left: 300px;
  color: rgb(221, 36, 36);
  font-weight: bold;
}

.logo {
  width: 100px;
}
ul{
  padding : 0 ;
}

 ul li  {

  list-style-type: none;
  margin: 0px 0;
}

 ul li a {
    color : white ;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 4px 0px 4px;
    border-radius: 6px;
 }

 .top-heading {
  color : white ;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 0px 0px 0px;
  border-radius: 6px;
}


 ul li a:hover  ,
 ul li a.active {

  background : black

 }