body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eaecef;
}

.header {

  padding: 30px;
  background-color: black;
  height: 40px;
}
.sidenav {
  width : 240 px; 
  background: #011627;
  position : absolute ;
  height: 95vh;
  padding:  0 30px;
  transition: all 1s;
}

ul{
  padding : 0 ;
}

 ul li  {

  list-style-type: none;
 }

 ul li a {
    color : white ;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
 }

 ul li a:hover  ,
 ul li a.active {

  background : black

 }